@using SimpleMemberShip.Models
@model User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="col-md-4">
        <label>Username</label>
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Username)

        <label>Password</label>
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)

        <label>Role</label>
        @Html.DropDownListFor(model => model.RoleID, @ViewBag.Roles as IEnumerable<SelectListItem>, "--select role--", htmlAttributes: new { @class = "form-control" })
        <button class="btn btn-default">Register</button>
    </div>

}